---
import Layout from "../layouts/Layout.astro";
---

<Layout title="viewHistory">
  <table id="user-history-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Semana</th>
        <th>Dia</th>
        <th>Turno</th>
      </tr>
    </thead>
    <tbody id="user-history-body">
      <!-- Data will be populated here -->
    </tbody>
  </table>

  <script>
    document.addEventListener("DOMContentLoaded", async () => {
      const response = await fetch("/api/getUserHistory.json");
      const userHistory = await response.json();
      const tbody = document.getElementById("user-history-body");

      userHistory.forEach(
        (entry: { userName: any; date: any; day: any; turno: any }) => {
          const row = document.createElement("tr");
          const weekStartDate = new Date(entry.date);
          const formattedWeek = `Semana del ${weekStartDate.getDate().toString().padStart(2, "0")}/${(weekStartDate.getMonth() + 1).toString().padStart(2, "0")}/${weekStartDate.getFullYear()}`;
          row.innerHTML = `
            <td>${entry.userName}</td>
            <td>${formattedWeek}</td>
            <td>${entry.day}</td>
            <td>${entry.turno}</td>
          `;
          tbody.appendChild(row);
        }
      );
    });
  </script>
</Layout>
